@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Trebuchet';
  src: url(../fonts/trebuchet/Trebuchet-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Trebuchet';
  src: url(../fonts/trebuchet/TrebuchetMS-Bold.ttf);
  font-weight: 700;
}